<div class="row">
	<div class="col-md-3 col-md-offset-3">
		<img ng-src="{{'https://cdn.local.epitech.eu/userprofil/profilview/' + student.login + '.jpg'}}" alt="Loading"/>
	</div>
	<div ng-show="{{gameMode == 'login'}}" class="col-md-6">
		<input class="pull-left" ng-model="answer" placeholder="{{$root.searchMode}}" required/>
		<button class="clearfix" ng-click="checkAnswer()" type="button">Submit</button>
		<br/>
		<button type="button" ng-click="help()">Help</button>
		<button type="button" ng-click="giveUp()">Give Up</button>
	</div>
	<div ng-show="{{gameMode == 'choices'}}" class="col-md-6">
		<h4>Score : {{score}} / {{total}}<h4>
		<p ng-show="rightAnswer" style="background-color: {{successColor}};">{{rightAnswer}}</p>
		<button ng-repeat="possibleChoice in possibleChoices" type="button" ng-click="checkChoice(possibleChoice)" style="display: block; margin: 5px; text-transform: capitalize;">{{possibleChoice.toLowerCase()}}</button>
	</div>
</div>
<a href="#/"><h5>Restart</h5></a>