<div class="row">
  <h4>It's time to know your classmates!!</h4>
  <p>
    <form ng-submit="start()">
      <div class="row">
        <div class="col-md-4">
          Game mode :
          <br/>
          <label>
            <input type="radio" ng-model="$root.gameMode" value="choices"> 4 Choices
          </label>
          <br/>
          <label>
            <input type="radio" ng-model="$root.gameMode" value="login"> Hardcore
          </label>
        </div>
        <div class="col-md-4">
          Search mode :
          <br/>
          <label>
            <input type="radio" ng-model="$root.searchMode" value="firstname"> Firstname
          </label>
          <br/>
          <label>
            <input type="radio" ng-model="$root.searchMode" value="lastname"> Lastname
          </label>
          <br/>
          <label>
            <input type="radio" ng-model="$root.searchMode" value="login"> Login
          </label>
          <br/>
          <label>
            Promotion :
            <select ng-model="$root.promotion">
              <option ng-repeat="prom in promotions" value="{{prom}}" nb-bind="prom">{{prom}}</option>
            </select>
          </label>
        </div>
      </div>
      <button type="submit">Start</button>
    </form>
  </p>
</div>
