<div class="row">
  <h4>It's time to know your classmates!!</h4>
  <p>
    <form ng-submit="start()">
      <div class="row">
        <div class="col-md-4">
          Promotion :
          <label ng-repeat="prom in promotions">
            <input type="radio" ng-model="$root.promotion" value="{{prom}}"> {{prom}}
          </label>
        </div>
        <div class="col-md-4">
          Game mode :
          <label>
            <input type="radio" ng-model="$root.gameMode" value="choices"> 4 Choices
          </label>
          <label>
            <input type="radio" ng-model="$root.gameMode" value="login"> Hardcore
          </label>
        </div>
        <div class="col-md-4">
          Search mode :
          <label>
            <input type="radio" ng-model="$root.searchMode" value="firstname"> Firstname
          </label>
          <label>
            <input type="radio" ng-model="$root.searchMode" value="lastname"> Lastname
          </label>
          <label>
            <input type="radio" ng-model="$root.searchMode" value="login"> Login
          </label>
        </div>
      </div>
      <div class="col-md-2 col-md-offset-5">
        <button type="submit">Start</button>
      </div>
    </form>
  </p>
</div>
